{{{ INSTALL_PATH }}}/src/storage/logs/*.log {
    daily
    missingok 
    copytruncate
    rotate 30
    compress
    notifempty 
    create 640 root www-data
}

{{{ INSTALL_PATH }}}/.runtime/var/log/nginx/*.log {
    daily
    missingok 
    copytruncate
    rotate 30
    compress
    notifempty 
    create 640 root www-data
}

