[Unit]
Description={{ PROJECT }}-{{ ENVIRONMENT }} docker containers
Requires=docker.service
After=docker.service

[Service]
Restart=no
ExecStart=cd {{ INSTALL_PATH }} && ./start
ExecStop=cd {{ INSTALL_PATH }} && ./stop

[Install]
WantedBy=default.target
