# {{{ PROJECT }}}-{{{ ENVIRONMENT }}}

description "{{{ PROJECT }}}-{{{ ENVIRONMENT}}} website"
author "IT Consultis <tech@it-consultis.com>"
start on filesystem and started docker
stop on runlevel [!2345]
script
  cd {{{ INSTALL_PATH }}}
  ./start
end script

